body {
  background-color: rgb(164, 166, 168);
  background: linear-gradient(42deg, #72a9ad 14%, #c4c5c5 80%, #aeb0b3 97%);
  font-family: "Urbanist", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  margin: 0;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .root {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .root {
    max-width: 768px;
  }
}

@media (max-width: 425px) {
  .root {
    max-width: 425px;
  }
}

.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 35% 65%;
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
  }
}

.header {
  width: 100%;
  height: 100px;
  background-color: #57bec0;
  padding: 0px;
  margin: 0px auto;
}

h1 {
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  margin: 0%;
  padding: 10px 0 0 0;
  color: #ffffff;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
}

.role {
  font-size: 22px;
  margin: 10px 0;
  font-weight: 400;
  text-align: center;
  color: #343d42;
}

@media (max-width: 768px) {
  .role {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .role {
    font-size: 16px;
  }
}

/*ASIDE*/

.aside {
  background-color: #343d42;
  height: 100%;
}

.photo {
  width: 450px;
  height: 550px;
  padding: 0px;
}

@media (max-width: 1024px) {
  .photo {
    width: 350px;
    height: 450px;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .photo {
    width: 270px;
    height: 350px;
  }
}

@media (max-width: 425px) {
  .photo {
    width: 150px;
    height: 225px;
  }
}

.contacts {
  width: 100%;
}

.contacts-wraper {
  background-color: #57bec0;
}

.contact-inf{
  color: #343d42;
}


.contacts-list {
  margin: 0 auto;
  list-style-type: none;
}
@media (max-width: 425px) {
  .contacts-list {
    margin: 0;
    padding: 0 0 0 15px;
  }
}

@media (max-width: 768px) {
  .contacts-list li a {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .contacts-list li a {
    max-width: 16px;
    margin: 0 5px 10px 0;
  }
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: #57bec0;
  transition: 0.5s;
}

.lang-wrapper {
  background-color: #57bec0;
  padding: 0%;
}
.lang-wrapper h2 {
  color: #343d42;
}

.lang-eng {
  margin: 0 0 0 40px;
}

@media (max-width: 768px) {
  .lang-eng {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .lang-eng {
    font-size: 16px;
    margin: 0 0 0 15px;
  }
}

.education-wrapper {
  background-color: #57bec0;
  padding: 0%;
}
.education-wrapper h2 {
  color: #343d42;
}

.courses {
  margin: 0 20px 20px 40px;
  color: #fff;
}

@media (max-width: 425px) {
  .courses {
    font-size: 16px;
    margin: 0 5px 10px 15px;
  }
}

h2 {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  padding: 2% 10%;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 22px;
    margin: 10px 0;
  }
}

/*END ASIDE*/
/* MAIN */

.main {
  background-color: rgb(255, 255, 255);
}

.main-title{
  background: #343d42;
}

.main-title h2{
  color: #57bec0;
}

.about {
  font-size: 25px;
  color: #fff;
}

@media (max-width: 1024px) {
  .about {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .about {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .about {
    font-size: 16px;
  }
}

.description {
  padding: 20px;
  margin: 0;
}

@media (max-width: 425px) {
  .description {
    font-size: 16px;
    padding: 10px;
  }
}

.school {
  color: #57bec0;
}

.school:hover {
  color: rgb(0, 0, 0);
  transition: 0.5s;
}

.skills-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 0 0;
}

.skill {
  font-weight: 400;
  margin: 0 0 15px 0;
}

@media (max-width: 425px) {
  .skill {
    font-size: 18px;
    margin: 0 5px 10px 0;
  }
}

.portfolio-wrap {
  height: 500px;
  overflow: auto;
}

@media (max-width: 425px) {
  .portfolio-wrap {
    height: 300px;
  }
}

.portfolio-card {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

@media (max-width: 1024px) {
  .portfolio-card {
    width: 500px;
    height: 250px;
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .portfolio-card {
    width: 400px;
    height: fit-content;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 425px) {
  .portfolio-card {
    width: 265px;
    margin: 0 0 10px 0;
    display: block;
  }
}

.portfolio-card:nth-child(odd) {
  margin: 0 0 0 130px;
}

@media (max-width: 1024px) {
  .portfolio-card:nth-child(odd) {
    margin: 0 0 0 60px;
  }
}
@media (max-width: 768px) {
  .portfolio-card:nth-child(odd) {
    margin: 0;
  }
}

.portfolio-title {
  display: block;
  font-size: 32px;
  color: #343d42;
  font-weight: 400;
  text-decoration: revert;
}

@media (max-width: 425px) {
  .portfolio-title {
    font-size: 22px;
  }
}

.portfolio-title:hover {
  color: #57bec0;
}

.portfolio-description {
  color: #343d42;
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0 0 0;
}

@media (max-width: 1024px) {
  .portfolio-description {
    font-size: 18px;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 425px) {
  .portfolio-description {
    font-size: 18px;
    margin: 10px 0;
  }
}

.right {
  text-align: right;
}

@media (max-width: 425px) {
  .right {
    text-align: left;
  }
}

.portfolio-img {
  width: 300px;
  height: 200px;
  margin:  0 0 0 20px;
}

@media (max-width: 1024px) {
  .portfolio-img {
    width: 250px;
    height: 150px;
    margin:  0 0 0 15px;
  }
}

.portfolio-img:nth-child(odd) {
  margin: 0 20px 0 0;
}



/* END MAIN */
/* FOOTER */

.footer {
  background-color: #57bec0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0%;
}

.github {
  width: 50px;
  margin: 0%;
  padding-top: 6%;
  padding-bottom: 6%;
}
